/* On Smaller Screens */

@media (max-width: 1268px) {
    /* Main Section: */
    #picture-wrapper .img-container {
        margin-right: 12px;
    }
    #picture-wrapper .more {
        left: 24px;
    }
    #picture-wrapper .zoom {
        left: 65px;
    }

    /* About, Article, Picture: */

    #about-page-container h4, 
    #about-page-container .widget,
    #article-page-container h4,
    #article-page-container .widget,
    #category-page-container h4,
    #category-page-container .widget,
    #picture-page-container h4, 
    #picture-page-container .widget {
        margin-left: 42px;
    }
}

@media (max-width: 1184px) {
    /* Main Section: */

    #picture-wrapper .more {
        left: 19px;
    }
    #picture-wrapper .zoom {
        left: 60px;
    }

    /* About, Article, Picture: */

    #about-page-container h4,
    #about-page-container .widget,
    #article-page-container h4,
    #article-page-container .widget,
    #category-page-container h4,
    #category-page-container .widget,
    #picture-page-container h4,
    #picture-page-container .widget {
        margin-left: 32px;
    }
    #about-page-container .widget p, 
    #article-page-container .widget p,
    #category-page-container .widget p,
    #picture-page-container .widget p {
        font-size: 1.2rem;
    }
}

@media (max-width: 1108px) {
    /* Main Section: */
    #picture-wrapper .img-container {
        margin-right: 6px;
    }
    #picture-wrapper .more {
        left: 15px;
    }
    #picture-wrapper .zoom {
        left: 56px;
    }

    /* About, Article, Picture: */
    #about-page-container h4,
    #about-page-container .widget,
    #article-page-container h4,
    #article-page-container .widget,
    #category-page-container h4,
    #category-page-container .widget,
    #picture-page-container h4,
    #picture-page-container .widget {
        margin-left: 22px;
    }
}

@media (max-width: 992px) {
    #logo,
    #main-navigation,
    #titular-section .container,
    #up-section,
    #quote-wrapper .container,
    #heading,
    #about-page-container,
    #article-page-container,
    #category-page-container,
    #picture-page-container,
    #footer-section, 
    #secondary-footer .container {
        width: 78.5%;
    }
    #picture-wrapper .container {
        width: 82%;
    }
    #picture-wrapper .img-container {
        margin-right: 0;
    }
    #picture-wrapper .more {
        left: 39px;
    }
    #picture-wrapper .zoom {
        left: 80px;
    }
}

@media (max-width: 904px) {
    /* Main Section: */
    #picture-wrapper .more {
        left: 33px;
    }
    #picture-wrapper .zoom {
        left: 76px;
    }

    /* About, Article, Picture: */

    #about-page-container h4, 
    #about-page-container .widget, 
    #article-page-container h4,
    #article-page-container .widget,
    #category-page-container h4,
    #category-page-container .widget,
    #picture-page-container h4, 
    #picture-page-container .widget {
        margin-left: 12px;
    }
    #about-page-container .widget p,
    #article-page-container .widget p,
    #category-page-container .widget p,
    #picture-page-container .widget p {
        font-size: 1.1rem;
    }
}

@media (max-width: 848px) {
    #logo,
    #main-navigation,
    #titular-section .container,
    #up-section,
    #quote-wrapper .container,
    #heading,
    #about-page-container,
    #article-page-container,
    #category-page-container,
    #picture-page-container,
    #footer-section, 
    #secondary-footer .container {
        width: 88.5%;
    }
    #picture-wrapper .container {
        width: 92%;
    }
    #picture-wrapper .more {
        left: 29px;
    }
    #picture-wrapper .zoom {
        left: 70px;
    }
}

@media (max-width: 767px) {
    #quote-text {
        font-size: 2.4rem;
    }
    #picture-wrapper .container {
        width: 92.6%;
    }
    #picture-wrapper .img-container {
        height: 312px;
    }

    /* Navigation: */

    #logo, #titular-section h1 {
        text-align: center;
    }
    #titular-section .container {
        padding-right: 0;
    }
    #main-navigation {
        background: inherit;
    }
    #main-navigation ul, #footer-navigation ul {
        margin-bottom: 12px;
        text-align: center;
    }
    #main-navigation li, #footer-navigation li {
        margin-right: 6px;
        border: 1px solid #ffffff;
        padding-top: 4px;
        padding-bottom: 4px;
        transition: box-shadow 0.4s ease-in-out;
    }
    #main-navigation li:hover, #footer-navigation li:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 2px 2px 2px #ffffff;
    }
    #main-navigation li:hover a, #footer-navigation li:hover a {
        color: #8d96a0;
    }
    #main-navigation a, #footer-navigation a {
        font-size: 1.3rem;
    }
    #main-navigation li:first-child, #footer-navigation li:first-child {
        padding-left: 10px;
    }
    #awesome-container, #copyright {
        text-align: center;
    }

    /* About, Article, Picture: */
    
    #about-page-container,
    #about-page-container .col-sm-8,
    #article-page-container,
    #article-page-container .col-sm-8,
    #category-page-container,
    #category-page-container .col-sm-8,
    #picture-page-container,
    #picture-page-container .col-sm-8 {
        padding-right: 0;
    }
    #about-page-container .col-sm-4,
    #article-page-container .col-sm-4,
    #category-page-container .col-sm-4,
    #picture-page-container .col-sm-4 {
        padding-left: 0;
    }
    #about-page-container h4, 
    #about-page-container .widget, 
    #article-page-container h4,
    #article-page-container .widget,
    #category-page-container h4,
    #category-page-container .widget,
    #picture-page-container h4, 
    #picture-page-container .widget {
        margin-left: 0;
    }
    #about-page-container .widget p,
    #article-page-container .widget p,
    #category-page-container .widget p,
    #picture-page-container .widget p {
        font-size: 1.3rem;
    }
}

@media (max-width: 656px) {
    #comment-container .col-xs-10 {
        padding-left: 15px;
    }
    #comment-container .comment-arrow { 
        left: 6px;
    }

}