<section id="content-wrapper">
    <div id="heading">
        <h5>
            <a href="#/home">Home</a>
            <span class="raquo">»</span>
            <a href="#/portfolio">Portfolio</a>
            <span class="raquo">»</span>
            {{this.[0].title}}
        </h5>
    </div>
    <div id="picture-page-container" class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="meta">Posted by admin on October 7, 2017 in {{this.[0].title}}, Portfolio | 0 Comments</p>
            </div>
            <div class="col-sm-4">
                <h4>Recent Posts</h4>
                <aside class="widget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita cum inventore corporis accusantium distinctio! Veniam, deserunt, reprehenderit.</p>
                </aside>
                <h4>Recent Comments</h4>
                <aside class="widget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita cum inventore corporis accusantium distinctio! Veniam, deserunt, reprehenderit.</p>
                </aside>
                <h4>About Us</h4>
                <aside class="widget">
                    <p>{{this.[1]}}</p>
                </aside>
            </div>
        </div>
</section>