<section id="content-wrapper">
    <div id="heading">
        <h5>
            <a href="#/home">Home</a>
            <span class="raquo">»</span>
            Portfolio
        </h5>
    </div>
</section>
<section id="picture-wrapper">
    <div id="portfolio-container" class="container">
        <div class="row">
            {{#each this}}
                {{#if isLeading}}
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <div class="img-container">
                            <div class="thumbnail" style="background-image: url('{{url}}')">
                                <a class="more" href="#"><i class="more-link"></i></a>
                                <a class="zoom" href="#"><i class="zoom-link"></i></a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="col-md-2 col-sm-3">
                        <div class="img-container">
                            <div class="thumbnail" style="background-image: url('{{url}}')">
                                <a class="more" href="#"><i class="more-link"></i></a>
                                <a class="zoom" href="#"><i class="zoom-link"></i></a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</section>
    