<div id="img-slider" class="container-fluid">
    <div class="row">
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('./images/test-image.jpg')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('./images/image.jpg')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('./images/test-image.jpg')"></div>
        </div>
        <div class="col-sm-3 slider-img-container">
            <div class="slider-img" style="background-image: url('./images/image.jpg')"></div>
        </div>
    </div>
    <div id="featured-image" style="background-image: url('./images/fitness-image.jpg')">
        <i class="featured-left-arrow"></i>
        <a href="#">
            <i class="featured-zoom"></i>
        </a>
        <a href="#">
            <i class="featured-more"></i>
        </a>
        <i class="featured-right-arrow"></i>
        <div id="featured-image-title">
            <h2>Made Up Title</h2>
        </div>
    </div>
</div>