<section id="content-wrapper">
    <div id="heading">
        <h5>
            <a href="#/home">Home</a>
            <span class="raquo">»</span>
            404! Content Not Found!
        </h5>
    </div>
</section>